<h1>Sign in</h1>

<form  method="POST" action="<%= login_path %>">
	<label for="email">Email</label>
	<input type="email" name="email" id="email">
	<label for="password">Password</label>
	<input type="password" name="password" id="password">
	<input type="submit" value="login">
</form>